@charset "utf-8";
/* CSS Document */
	
*{ margin: 0; padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
		font-family: Arial, san-serif;
		
		background-color:#fbfbfb;
		background:url(http://img.gohoody.com/attachements/pagebg.png);
		background-repeat:repeat-x repeat-y;
		
		
}

#fb_explaination{
	position: absolute;
	width: 500px;
	height: 250px;
	padding: 20px;
	background:#FFF;
	border: #ccc 1px solid;
	-moz-box-shadow:0px 0px 7px #CCC;
	-webkit-box-shadow: 0px 0px 7px #ccc;
	box-shadow: 0px 0px 7px #ccc;
	top: 190px;
	left: 50%;
    margin-left: -251px;
	z-index: 1001;
	font-family:  Arial, Helvetica, sans-serif;
	display: none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
	#explain_title{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.explain_text{
		font-size: 14px;
		margin-bottom:10px;
	}
		big{
			font-weight: bold;
			color: #090;
		}
	
	.explain_text2{
		margin-top:20px;
		font-size:12px;
	}
	
	#explain_button{
		border:0;
		margin: 20px auto auto auto;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43be55), color-stop(1, #13a74e) );
		background:-moz-linear-gradient( center top, #43be55 5%, #13a74e 100% );
		
		background:-o-linear-gradient(top, #43be55, #13a74e);
		background-color:#43be55;
		-moz-box-shadow: 1px 1px 2px 0px #c9c4bd;
		-webkit-box-shadow: 1px 1px 2px 0px #c9c4bd;
		box-shadow: 1px 1px 2px 0px #c9c4bd;
		
		border-bottom:2px solid #6f7072;
		display:inline-block;
		color:#FFFFFF;
		font-family: Arial, san-serif;
		font-size:16px;
		font-weight:bold;
		
		padding: 7px 10px;
		
		text-decoration:none;
		cursor:pointer;
	}
	
		#explain_button:hover {
		border-bottom-width: 4px;
		}
		#explain_button:active {
			position:relative;
				top: 2px;
				border-bottom-width: 2px;
		}
		
	

#dimmer{
	position:fixed;
	width: 100%;
	height: 100%;
	background-color:#000;
	opacity: 0.5;
	z-index: 1000;
	display:none;
}

#broswer_warning{
	width: 100%;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	background-color:#EEEEEE;
	border-bottom: #AAA 1px solid;
	position:fixed;
	top: 0;
	z-index: 1000;
}
#broswer_warning2{
	width: 100%;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	background-color:#EEEEEE;
	border-bottom: #AAA 1px solid;
	position:fixed;
	top: 0;
	z-index: 1000;
}
#gap{
	height: 25px;
}

/*#header_bg{
	position:absolute;
	width: 100%;
	height:200px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #827d7d), color-stop(1, #fbfbfb) );
	background:-moz-linear-gradient( center top, #827d7d 5%, #fbfbfb 100% );
	background-image:      -o-linear-gradient(top, #303030, #fbfbfb);
	filter:alpha(opacity=20);
  	opacity:0.2;
	z-index: -3;
	
}*/



.main_wrapper{
		font-family: Arial, san-serif;	
		width: 940px;
		margin-left:auto;
		margin-right:auto;
		padding-left: 20px;
		padding-right: 20px;
	
}	
a{

cursor: pointer;
text-decoration:none;

}	
	

	

#panels{
	margin-top:40px;
	width: 940px;
	height: auto;
	clear:both;
	overflow:hidden;
	
}

#left_panel{
	width: 425px;
	float:left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
	
	margin: 15px 10px auto 5px;
	height: 335px;
}

	#headline1{
		font-size:30px;
		font-weight: bold;
		margin-top: 5px;
		width: 360px;
		float:left;
		color: #555;
	}
		b{
			color: #090;
		}
		
		em{
			font-weight:normal;
			font-family:Verdana, Geneva, sans-serif;
		}
		
	#post_section{
		width: 100%;
		height: 50px;
		margin-top: 30px;
		float:left;
	}
	
	#placeholder_text{
		display:none;
	}
	
	#post_service_button{
		float:left;
		margin-left: 15px;
		margin-top: 1px;
		border:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43be55), color-stop(1, #13a74e) );
		background:-moz-linear-gradient( center top, #43be55 5%, #13a74e 100% );
		
		background:-o-linear-gradient(top, #43be55, #13a74e);
		background-color:#43be55;
		-moz-box-shadow: 1px 1px 2px 0px #c9c4bd;
		-webkit-box-shadow: 1px 1px 2px 0px #c9c4bd;
		box-shadow: 1px 1px 2px 0px #c9c4bd;
		
		border-bottom:2px solid #6f7072;
		display:inline-block;
		color:#FFFFFF;
		font-family: Arial, san-serif;
		font-size:16px;
		font-weight:bold;
		
		padding: 7px 10px;
		
		text-decoration:none;
		cursor:pointer;
	}
	
		#post_service_button:hover {
		border-bottom-width: 4px;
		}
		#post_service_button:active {
			position:relative;
				top: 2px;
				border-bottom-width: 2px;
		}
		
		
		
	#post_service_input {
		width: 200px;
		height: 25px;
		padding: 5px;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
		font-size: 14px;
		border: #ccc 1px solid;
		float:left;
		-moz-box-shadow: 2px 2px 5px #DEDEDE;
		-webkit-box-shadow: 2px 2px 5px #DEDEDE;
		box-shadow: 2px 2px 5px #DEDEDE;
	}
	
	#suggestion_sect{
		float:left;
		width: 100%;
		height: 100px;
		margin-top: 15px;
		margin-left: -5px;
		font-size: 13px;
	}
	
	#popular_text{
		width: 100%;
		float:left;
		margin-left: 5px;
	}
	#popular_links{
		width:380px;
		margin-top: 10px;
		float:left;
		
	}
	.popular_link{
		padding: 4px 4px;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		text-decoration: none;
		
		color: #F05B28;
	}
		.popular_link:hover{
			background: #DDD;
		}
		.popular_link:active{
			text-decoration: none;
		}
	#last_link{
		float:left;
		
	}
		
	#headline3{
		font-size:30px;
		
		margin-top: 5px;
		width: 450px;
		float:left;
		color: #333;
	}
	#headline4{
		font-size:25px;
		
		margin-top: 15px;
		width: 400px;
		float:left;
		color: #333;
	}
			
		
	#headline2 {
		color:#555;
		font-family: Arial, Helvetica, sans-serif;
		line-height:30px;
		font-size: 18px;
		width: 380px;
		float:left;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	
	#sign_up_cont{
		width: 350px;
		height: 50px;
	}
	
	.fb_logo_button2{
		position: absolute;
		height: 45px;
		width: 55px;
		margin-left:-8px;
		margin-top: -10px;
		border-right: 1px solid #b4bd31;
		z-index: 99;
		
	}
	
	.fb_logo_button2 img{
		margin-top: 5px;
		
	}
	
	#button_cont{
		height: 60px;
		width: 100%;
		clear: both;
		overflow: visible;
		
	}
	
	#sign_up_button{

		margin-top: 5px;
		margin-bottom:15px;
		border:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43be55), color-stop(1, #13a74e) );
		background:-moz-linear-gradient( center top, #43be55 5%, #13a74e 100% );
		
		background-image:      -o-linear-gradient(top, #43be55, #13a74e);
		background-color:#43be55;
		-moz-box-shadow: 1px 1px 2px 0px #c9c4bd;
		-webkit-box-shadow: 1px 1px 2px 0px #c9c4bd;
		box-shadow: 1px 1px 2px 0px #c9c4bd;
		
		
		
	
		border-bottom:2px solid #6f7072;
		display:inline-block;
		color:#FFFFFF;
		font-family: Arial, san-serif;
		font-size:20px;
		font-weight:bold;
		
		padding: 10px 25px;
		padding-left: 65px;

		text-decoration:none;
		cursor:pointer;
		
		
	}
	
	#sign_up_button:hover {
		border-bottom-width: 4px;
	}
	#sign_up_button:active {
		position:relative;
			top: 2px;
			border-bottom-width: 2px;
	}
	.fb_logo_button1{
			position: absolute;
			margin-top: 0px;
			margin-left: -55px;
			z-index:99;
			padding: 9px;
			padding-top:12px;
			padding-right: 18px;
			border-right: #7ed18a 1px solid;
			margin-top: -10px;
			height: 25px;
		}
		
	#why_facebook{
		padding-top: 5px;
		margin-left: 105px;
		margin-top: 5px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color: #888;
		text-decoration:none;
		text-align: center;
		-webkit-transition: all 300ms ; 
		-moz-transition: all 300ms; 
		-ms-transition: all 300ms; 
		-o-transition: all 300ms; 
		transition: all 300ms; /* custom */ 
	}
		#why_facebook:hover{
			color: #555;
			-webkit-transition: all 300ms ; 
			-moz-transition: all 300ms; 
			-ms-transition: all 300ms; 
			-o-transition: all 300ms; 
			transition: all 300ms; /* custom */ 
		}
		
		#why_facebook:avtive{
			text-decoration:none;
		}
		
		
#right_panel{
	width: 500px;
	height: 340px;
	float:left;
	margin-top:10px;
}



#video_box{
	width:487px;
	height: 276px;
	padding: 5px;
	-moz-box-shadow: 1px 0px 5px #EBEBEB;
	-webkit-box-shadow: 1px 0px 5px #EBEBEB;
	box-shadow: 1px 0px 5px #EBEBEB;
	border: #DEDEDE 1px solid;
	background:#FFF;
	float:left;
	
}

.box_shadow{
	width:497px;
	height:15px;
	position:relative;
	
	float:left;
	margin-top:-1px;
	z-index:99;
}

#play_button_cont{
	
	width: 487px;
	height: 276px;
	background:url(http://img.gohoody.com/attachements/home_page/vid_capture.jpg)
}

	#play_button{
		width: 487px;
		height: 276px;
		
	}
	.play_button{
		position:relative;
		padding: 100px 75px 89px 295px;
		z-index:99;
		
		
	}
	#what_is_hoody{
		position:absolute;
		
		margin: -172px auto auto 115px;
		
		font-family: Arial, Helvetica, sans-serif;
		font-size:25px;
		
		color:#333;
		padding: 18px;
		padding-right: 70px;
		-moz-border-radius:30px;
		-webkit-border-radius:30px;
		border-radius:30px;
		background: #FFF;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #999999) );
		background:-moz-linear-gradient( center top, #FFFFFF 5%, #999999 100% );
		background-image: -o-linear-gradient(top, #FFFFFF, #999999);
		filter:alpha(opacity=90);
  		opacity:0.9;
		border: #DDD 1px solid;
		
		
		
		
		
	}


	

#video_obj{
	position:relative;
	background:#000;
	width: 487px;
	height: 274px;
	display:none;
	z-index: 1;
}



#how_sect_bg{
	width: 100%;
	
	padding-top: 20px;
	padding-bottom: 0px;
	
	
/*	-moz-box-shadow: inset 0px 0px 15px #DDDDDD;
	-webkit-box-shadow: inset 0px 0px 15px #DDDDDD;
	box-shadow: inset 0px 0px 15px #DDDDDD;*/
	
}


#how_it_works_sect{
	height: 320px;
	width: 940px;
	margin: 15px auto 0px auto;
	clear: both;
	overflow: hidden;
	
	
}

	#how_title{
		height: 8px;
		padding: 7px;
		padding-top: 5px;
		padding-left: 13px;
		width: 127px;
/*	    margin-left: auto;
	    margin-right: auto;*/
		
		
		
		
		color: #f59b3c;
		font-size: 13px;
		font-weight:bold;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		
		border: 1px solid #ccc;
		border-bottom: none;
		border-top-left-radius:7px;
		-moz-border-top-left-radius:7px;
		-webkit-border-top-left--radius:7px;
		border-top-right-radius:7px;
		-moz-border-top-right-radius:7px;
		-webkit-border-top-right--radius:7px;
		background:#FDFDFD;
		position: absolute;
		z-index: 40;
		margin-top: -20px;
		
	}
	
	#how_steps{
		padding-top: 40px;
		height: 205px;
		clear:both;
		overflow: hidden;
		border: #ccc 1px solid;
		border-radius:7px;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		border-top-left-radius:0px;
		-moz-border-top-left-radius:0px;
		-webkit-border-top-left-radius:0px;
		background:#FDFDFD;
	
	}
		.box_shadow_steps{
			width: 940px;
			height: 22px;
			position:relative;
			margin-top: -4px;
			z-index:-1;
		}
		.box_shadow_steps2{
			width: 940px;
			height: 12px;
			position:absolute;
			margin: -8px auto auto 10px;
			z-index:-1;
		}
		.single_step{
			width: 200px;
			float:left;
			
		}
			.step_text{
				width: 200px;
				padding-left: 15px;
				float:left;
				color: #006699;
				font-size:15px;
			}
				.first_step{
					padding-left: 20px;
				}
				.first_text{
					padding-left: 5px;
				}
				.last_text{
					padding-left: 25px;
				}
			.creating_text{
				padding-left:5px;
			}
			.step_img{
				float:left;
				
				padding-left: 40px;
				margin-bottom:20px;
			}
			
			.step_thinking{
				margin-top: 48px;
				padding-left: 40px;
			}
			.step_creating{
				margin-top: 5px;
			}
			.step_social{
				margin-top: 25px;
			}
			.step_money{
				margin-top: 20px;
			}
			
			
		.next_arrow{
			width: 20px;
			float:left;
		}
			.next_arrow_img{
				margin: 90px auto auto 5px;
			}

	#create_service_button{
		margin-top: 5px;
		
		float: right;
		border:0;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43be55), color-stop(1, #13a74e) );
		background:-moz-linear-gradient( center top, #43be55 5%, #13a74e 100% );
		
		background-image:      -o-linear-gradient(top, #43be55, #13a74e);
		background-color:#43be55;
		-moz-box-shadow: 1px 1px 2px 0px #c9c4bd;
		-webkit-box-shadow: 1px 1px 2px 0px #c9c4bd;
		box-shadow: 1px 1px 2px 0px #c9c4bd;

		border-bottom:2px solid #6f7072;
		display:inline-block;
		color:#FFFFFF;
		font-family: Arial, san-serif;
		font-size:14px;
		font-weight:bold;
		
		padding: 10px 15px;
		

		text-decoration:none;
		cursor:pointer;
	
	}
		#create_service_button:hover {
			border-bottom-width: 4px;
		}
		#create_service_button:active {
			position:relative;
				top: 2px;
				border-bottom-width: 2px;
		}


.divider2{
	width: 100%;
	height: 25px;
	background: url("http://img.gohoody.com/attachements/divider.png") no-repeat scroll center top;
	
}

/*featured_section*/

#featured_sellers_title{
	margin-top: 10px;
	font-size:22px;
	color:#333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	
	margin-bottom: 35px;
}

#featured_sect{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 10px auto 45px auto;
	height: 546px;
	
}

.featured{
	width: 439px;
	padding: 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#F0F0F0;
	margin-bottom: 15px;
	float: left;
	border: #CCCCCC 1px solid;
	-moz-box-shadow: 1px 1px 3px #DDDDDD;
	-webkit-box-shadow: 1px 1px 3px #DDDDDD;
	box-shadow: 1px 1px 3px #DDDDDD;
}
	.featured:hover{
		
		background-color:#F7F7F7;
		
		-moz-box-shadow: 3px 3px 7px #DDDDDD;
		-webkit-box-shadow: 3px 3px 7px #DDDDDD;
		box-shadow: 3px 3px 7px #DDDDDD;
	}
		

.featured_left{
	margin-right:16px;
}
	.seller_pic{
		width: 150px;
		height: 150px;
	    background-color:#FFFFFF;
		
		float:left;
	}
		.seller_pic a img{
			padding: 5px;
			border: #DDDDDD 1px solid;
			background-color: #FFFFFF;
		}
	
	.seller_name{ 
		float:left;
		width: 246px;
		margin-bottom: 5px;
		margin-left: 14px;
		font-size:14px;
		color:#f05b28;
	}
		.seller_name a{ 
			font-size:14px;
			color:#f05b28;
			text-decoration:none;
			cursor: pointer;
		}
		.seller_name a:hover{ 
			
			text-decoration:underline;
			
		}
		.seller_name a:active{ 
			
			text-decoration:none;
			
		}
		.seller_name a:visited{ 
			color:#f05b28;
			text-decoration:none;
			
		}
		
	
	
	.seller_info{
		float:left;
		font-size:12px;
		width: 246px;
		height: 35px;
		margin-left: 14px;
		margin-bottom: 15px;
		overflow: hidden;
		text-overflow: ellipsis-word;
	}
	
	.services_title{
		width: 250px;
		font-size:10px;
		float:left;
		margin-bottom: 5px;
		margin-left: 10px;
	}
	
	
		.indv_service{
			width: 75px;
			height: 75px;
			background: #FFF;
			float:left;
			margin-left: 10px;
		}
			.indv_service a img{
				padding: 3px;
				background: #FFFFFF;
				border: #DDDDDD 1px solid;
			}


#ask_banner{

	margin: 35px auto 45px auto;
	clear: both;
	overflow: hidden;
	
}

	#justask_logo{
		width: 190px;
		float:left;
		margin-top: 35px;
		
		
	}
	
	#ask_sections{
		margin-top: 35px;
		width: 725px;
		float:right;
		padding: 10px;
		height: 200px;
		
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	
	#ask_title{
		width: 705px;
		float:left;
		font-size:14px;
		margin-bottom: 20px;
		color: #069;
	}
	
	.section_box{
		font-size:12px;
		width: 170px;
		height: 135px;
		float:left;
		margin-right: 14px;
		
		
	}
	.box_right{
		margin-right:0;
		float:left;
		
		
		
	}
	
	.pic_wrapper{
		padding: 5px;
		-moz-box-shadow: 3px 3px 5px #DEDEDE;
		-webkit-box-shadow: 3px 3px 5px #DEDEDE;
		box-shadow: 3px 3px 5px #DEDEDE;
		border: 1px #ccc solid;
		margin-bottom: 5px;
		float:left;
		
	}
	.section_pic{
		width: 158px;
		height: 80px;
	}
	
	a.sect_link_title{
		width: 170px;
		float:left;
		text-align:center;
		color: #333;
		text-decoration:none;
		font-size: 12px;
		
		
	}
		a.sect_link_title:hover{
			
			text-decoration:underline;
			
		}
		a.sect_link_title:active{
			
			text-decoration:underline;
			
		}
		a#more_link{
			float:right;
			text-decoration:none;
			font-size: 12px;
			color: #F05B28;
			margin-right: 10px;
		}
		a#more_link:hover{
			text-decoration:underline;
		}
		a#more_link:active{
			text-decoration:none;
		}


#picturetile{
	
	margin: 10px 0px 0px 0px;
	clear:both;
	overflow: hidden;
}

#tile_title{
	margin-top: 25px;
	font-size:22px;
	color:#333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	
}


#sign_up_bottom{
	
	margin: 15px auto auto auto;
	height: 60px;
	width: 920px;
	clear: both;
	overflow:hidden;
	background: #FFF;
	padding-top: 10px;
	padding-bottom:10px;
	border: #ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#tile_title2{
	margin-top: 16px;
	margin-left:15px;
	font-size:20px;
	color:#333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	float:left;
}

.sign_up2{
	float: right;
	margin-right: 15px;
	
	
}

/*#background {
		
	position: absolute;
	margin: 15px auto auto 40px;
	width: 910px; 
	height: 290px;
	background-color:#f6f7f8;
}*/


.push{
	height: 20px;
}

/*----------------------Footer------------------------*/

/*
#footer_bg2{
	position:absolute;
	width: 100%;
	height:5px;
	margin-bottom: 100px;
	
	z-index: -2;
}

#foot{
	position:abosolute;
	width: 940px;
	height: 120px;
	margin: 35px auto auto auto;
	
	font-size:13px;
	color: #555;
}

.hoody_date {
	width: 500px;
	float: left;
	margin: auto auto auto 10px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#foot_left{
	width:610px;
	float:left;
	margin-top:5px;
}

#foot_rigth{
	width: 400px;
	float:right;
}

#foot_links{
	width: 500px;
	margin: auto auto 10px 10px;
	font-weight:bold;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


.footer{
	color: #555;
	text-decoration : none;
	margin-right:15px;
	
}
.footer:hover{
	text-decoration:underline;
}
.footer:active{
	text-decoration : none;
}
	
.footer:visited{
	text-decoration : none;
}



.foot_social{
	float:right;
	margin-top:5px;
	margin-left:10px;
}
	
.foot_icon{
	float:left;
	margin-bottom:10px;
	-moz-box-shadow: 5px 5px 5px #CFCFCF;
	-webkit-box-shadow: 5px 5px 5px #CFCFCF;
	box-shadow: 5px 5px 5px #CFCFCF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.social_text{
	float:left;
	width: 130px;
	margin-left: 10px;
	margin-top:10px;
}*/



/*
    For Specific Slides
*/
#textSlide                              { padding: 10px 30px; }
#textSlide h3                           { font: 20px Georgia, Serif; }
#textSlide h4                           { text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0; }
#textSlide ul                           { list-style: disc; margin: 0 0 0 25px; }
#textSlide ul li                        { display: list-item; }

#quoteSlide                             { padding: 30px; }
#quoteSlide blockquote                  { font: italic 24px/1.5 Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0; }
#quoteSlide p                           { text-align: center; }
